.vs/MathNotes/v16/.suo
MathNotes.sln
NoteFormatter/.vs/ProjectSettings.json
NoteFormatter/.vs/slnx.sqlite
NoteFormatter/.vs/VSWorkspaceState.json
NoteFormatter/.vs/NoteFormatter/v16/.suo
MathNotes.pyproj
